ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.my-suggestion {
    padding: 10px;
    border: 2px solid #aaaaaa;
    border-radius: 8px;
    outline: none;
    width: 400px;
}

.my-suggestion:focus {
    border-color: cornflowerblue;
}

.suggestion-wrapper {
    position: relative;
}

.suggestion-ol {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    margin: 10px 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
}

.suggestion-ol.active{
    display: block;
}

.suggestion-ol > li {
    padding: 5px 15px;
}

.suggestion-ol > li:hover {
    cursor: pointer;
    background-color: rgb(0, 105, 207);
}

/****************************************/
#page {
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}